@charset "UTF8";
@use "../../utils/colors.scss" as *;

.header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 1440px;

    & .userphoto {
        width: 324px;
        min-width: 324px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 3rem;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & h1 {
            text-align: center;
        }
    }
}

.header > div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 30vw;
    gap: 2rem;
    justify-content: center;
    font-size: larger;
}

.form input[type=submit], .greenButton {
    transition: .25s;
    color: $color-grey-50;
    font-family: inherit;
    font-size: x-large;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    outline: none;
    width: 50%;
    cursor: pointer;

    &:active {
        scale: 0.95;
    }
}

.form input[type=submit], .greenButton {
    background-color: $color-green-800;

    &:hover {
        background-color: $color-green-900;
    }
}

h3 {
    font-size: x-large;
}

.stats {
    list-style: none;
    margin-left: -2.25rem;
    font-size: large;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1440px;
    width: 100%;
    
    & .text {
        font-size: large;
        font-family: inherit;
        padding: .5rem 1rem;
        outline: 2px $color-grey-300 dashed;
        border-radius: 1rem;
        border: none;
        transition: .125s;
        min-width: 35vw;
        max-width: 1440px;

        &:focus {
            outline-color: $color-teal-500
        }

        &::placeholder {
            color: $color-grey-700;
        }
    }

    & div {
        display: flex;
        gap: 1rem;
    }
}

.error {
    font-size: small;
    color: $color-red-600;
    padding: 0;
    margin-left: .5rem;

    &.hidden {
        display: none;
    }
}



@media screen and (max-width: 1024px) {
    .header, .header > div {
        flex-direction: column;
    }

    .form .text {
        min-width: 90vw;
    }
}