@charset "UTF-8";
@use "../../utils/colors.scss" as *;
@use "../../utils/buttons.scss" as *;

.ymaps {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.map {
    display: flex;
    place-content: center;
    width: 100dvw;
    height: 100dvh;
}

.marker {
    width: 100px;
    height: 100px;
    background: red
}


.placeholder {
    position: fixed;
    top: calc(50% - 3rem);
    left: calc(50% - 13rem);
}