@charset "UTF-8";
@use "../../utils/colors.scss" as *;

.ymaps {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.map {
    display: flex;
    place-content: center;
    width: 100dvw;
    height: 100dvh;
}

.marker {
    width: 100px;
    height: 100px;
    background: red
}

.float-button {
    display: flex;
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 45;
    padding: .5rem 1rem;
    border-radius: 20rem;
    font-size: xx-large;
    border: 2px $color-grey-400;
    background-color: color-mix(in srgb, $color-teal-900 75%, transparent 25%);
    cursor: pointer;
    color: white;
}

.float-button:active {
    scale: 0.95
}

.placeholder {
    position: fixed;
    top: calc(50% - 3rem);
    left: calc(50% - 13rem);
}

.button {
    transition: .25s;
    color: $color-grey-50;
    font-family: inherit;
    font-size: larger;
    border-radius: 0;
    border: none;
    padding: .5rem 1rem;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    background-color: $color-green-800;

    &:hover {
        background-color: $color-green-900;
    }

    &:active {
        scale: 0.95;
    }
}
