@charset "UTF-8";
@use "../../utils/colors.scss" as *;

.modalScreen {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    color: $color-green-900;
}

.modalScreen, .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.greenButton {
    transition: .25s;
    color: $color-grey-50;
    font-family: inherit;
    font-size: larger;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    width: fit-content;
    outline: none;
    cursor: pointer;
    background-color: $color-green-800;

    &:hover {
        background-color: $color-green-900;
    }

    &:active {
        scale: 0.95;
    }
}

.modal {
    width: 500px;
    background: $bg-color;
    box-shadow: 0 0 1rem $color-green-900;
    border-radius: 1rem;
    padding: 1rem 5rem;
}

.hidden {
    display: none;
}
