@charset "UTF-8";
@use "../../utils/colors.scss" as *;

.modalScreen {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    /*color: $color-green-900;*/
}

.modalScreen, .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal {
    width: 500px;
    background: $bg-color;
    box-shadow: 0 0 1rem $color-green-900;
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.header  svg {
    margin: 0.5em 0em;
    height: 2.2em;
    width: 2.2em;
}

.header  h1 {
    flex-grow: 1
}

.close {
    cursor: pointer;
    color: $color-green-900;
    transition: all ease-in-out 0.25s;
    &:active {
        scale: 0.75;
    }
    &:hover {
        color: $color-red-800;
    }
}